.fs {
    &-sm {
        font-size: 12px !important;
    }

    &-md {
        font-size: 14px !important;
    }

    &-lg {
        font-size: 16px !important;
    }

    &-xl {
        font-size: 20px !important;
    }

    &-xxl {
        font-size: 22px !important;
    }
}
