/*
 * Sidebar
 */

aside {

    .offcanvas-md {

        .offcanvas-body {
            padding: 20px 10px !important;
            overflow-y: auto !important;
            overflow-x: hidden !important;

            .nav {

                &.nav-pills {

                    .nav-item {

                        .nav-link {
                            &.active {
                                color: var(--bs-white);
                                font-weight: bold;
                                background-color: var(--bs-dark);
                            }

                            font-size: .875rem;
                            font-weight: 500;
                            color: var(--bs-dark);
                            padding-top: 12px;
                            padding-bottom: 12px;
                            display: flex !important;
                            flex-direction: row !important;
                            align-items: center !important;

                            span.icon {
                                width: 15%;
                            }
                        }
                    }
                }

            }

            .dropdown {
                a.dropdown-toggle {
                    font-size: .875rem;
                    font-weight: 500;
                    color: var(--bs-dark);
                    text-decoration: none;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    aside {
        // max-width: 240px !important;
        position: fixed !important;

        .offcanvas-md {
            height: calc(100vh - 56px);

            .offcanvas-body {
                height: calc(100vh - 56px);

                .nav-pills {
                    margin-bottom: auto;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    aside {
        .offcanvas-md {
            height: 100vh;

            .offcanvas-body {
                height: 100vh;

                .nav {

                    &.nav-pills {
                        height: calc(100vh - 20.41vh);

                        .nav-item {

                            .nav-link {

                                span.icon {
                                    width: 10%;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
